/*
!.gitignore
.DS*
*.xlsx
*.csv
*.xml
*.mp3
*.mp4
!app
app/*
!app/public
app/public/*
!app/public/fghmvcwebpack
app/public/fghmvcwebpack/node_modules
!app/public/wp-content
app/public/wp-content/*
!app/public/wp-content/docs
!app/public/wp-content/plugins
app/public/wp-content/plugins/*
!app/public/wp-content/plugins/codigo
!app/public/wp-content/themes
app/public/wp-content/themes/*
!app/public/wp-content/themes/fghegc